body.open-menu {
    overflow: hidden;
}
.header__wrapper {
    position: relative;
    background-color: var(--main-bg-color);
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 2rem 0;
}
.header__btn {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    position: relative;
    z-index: 100;
    margin-right: 2rem;
}
.header__btn span {
    display: block;
    position: absolute;
    width: 90%;
    height: .1rem;
    background-color: var(--main-text-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.header__btn span::before, .header__btn span::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: .1rem;
    background-color: var(--main-text-color);
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
}
.header__btn span::before {
    top: -.7rem;
}
.header__btn span::after {
    bottom: -.7rem;
}
.header__btn.active {
    background-color: transparent;
}
.header__btn.active span {
    background-color: transparent;
}
.header__btn.active span::before {
    transform: rotate(45deg);
    left: 0;
    top: 0;
}
.header__btn.active span::after {
    transform: rotate(-45deg);
    left: 0;
    top: 0;
}
.cart__span-box {
    font-size: 2.2rem;
    display: flex;
    align-items: center;
}
.cart__span-box svg {
    display: block;
    width: 3rem;
    height: 3rem;
    fill: var(--main-text-color);
}
.cart__span {
    font-family: var(--title-font);
    display: block;
    margin-left: 1rem;
    color: var(--main-text-color);
}
.nav__link {
    font-size: 2rem;
    cursor: pointer;
    color: var(--main-text-color);
}
.nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    padding: 5rem 5rem 2rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.nav.open-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}
.header__logo {
    display: block;
    text-align: center;
    position: relative;
    z-index: 100;
    color: var(--main-text-color);
}
.header-icon {
    display: block;
    width: 5rem;
}

.nav__item:not(:last-child) {
    margin-bottom: 3rem;  
}

@media screen and (min-width: 1440px) {
    .header__wrapper {
        background-color: var(--third-brand-color);
    }
    .header__wrapper.header__wrapper--bottom {
        background: rgba( 255, 255, 255, 0.5 );
        box-shadow: 0 .8rem 3.2rem 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( .4rem );
        -webkit-backdrop-filter: blur( .4rem );
        border: .1rem solid rgba( 255, 255, 255, 0.18 );
        padding: 2rem 0;
    }
    .header {
        padding: 1rem 0;
    }
    .header__top {
        flex-grow: 1;
        justify-content: space-between;
    }
    .nav{
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: auto;
        background-color: transparent;
        padding: 0;
        opacity: 1;
        visibility: visible;
        pointer-events: initial;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    .nav__item:not(:last-child) {
        margin-bottom: 0; 
    }
    .header__social-links-box {
        margin-bottom: 0; 
        height: 100%; 
        position: relative;
        padding-right: 3rem;
    }

    .header__logo {
        margin-bottom: 0;
        color: var(--sub-text-color);
    }
    .cart__span-box svg {
        fill: var(--sub-text-color);
    }
    .cart__span {
        color: var(--sub-text-color);
    }
    .nav__list {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
    .nav__link {
        position: relative;
      
    }
    .nav__link::after {
        position: absolute;
        display: block;
        content: '';
        height: .1rem;
        width: 0;
        background-color: var(--main-text-color);
        
        transition: all 0.3s ease-in-out;
        bottom: -.5rem;
        left: 0;
    }
    .nav__link:hover::after {
        width: 100%;
    }
    .header__btn {
        display: none;
    }

    .nav__item {
        position: relative;
    }

 
}